---
- name: Pull image and run container locally
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  collections:
    - community.docker

  vars:
    image_name: "sohith18/scientific-calculator:latest"
    container_name: "scientific-calculator"

  tasks:
    - name: Pull image
      community.docker.docker_image:
        name: "{{ image_name }}"
        source: pull

    - name: Ensure container is running
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: no
        detach: true
        tty: true
        interactive: true
        pull: false
