---
- name: Pull image and run container locally
  hosts: docker_hosts
  become: false
  collections:
    - community.docker

  vars:
    image_name: "sohith18/scientific-calculator:latest"
    container_name: "scientific-calculator"

  tasks:
    - name: Remove existing container (if present)
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent
        force_kill: true
        keep_volumes: false
        removal_wait_timeout: 60

    - name: Pull image
      community.docker.docker_image:
        name: "{{ image_name }}"
        source: pull

    - name: Ensure container is running
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: no
        detach: true
        tty: true
        interactive: true
        pull: false
